*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #eaeaea;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.child {
  height: 100vh;
  border-right: 1px solid #000;
  text-align: center;
  padding-top: 20px;
}

.child:nth-child(1) {
  width: 65%;
}

.child:nth-child(2) {
  width: 35%;
  border-right: none;
}

.wrapper {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-basis: content;
}

main, footer {
  text-align: center;
}
.by {
  margin: 15px 0;
}

.title {
  font-size: 65px;
}

.content {
  font-size: 55px;
}

.content .name {
  font-size: 75px;
  font-weight: bold;
}

.button {
  background-color: #ddd;
  padding: 20px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  /* box-shadow: -1px 2px 2px #000; */
  border-radius: 5px;
}
.button:hover {
  box-shadow: 1px 2px 5px #555;
  cursor: pointer;
}

footer {
  padding: 25px 0 20px 0;
}